*{
	margin: 0;
	padding: 0;
}

div.welcome{
	margin: 0 auto;
	margin-top: 150px;
	width: 800px;
}

div.welcome h1{
	font-family: 'Merriweather', serif;
	font-size: 131px;
	font-weight: 700;
}

div.welcome h3{
	font-family: 'Merriweather', serif;
	font-size: 28px;
	font-weight: 400;
}

div.welcome p{
	font-family: 'Merriweather', serif;
	font-size: 24px;
	font-weight: 400;
	margin-top: 25px;
}

div.welcome ul{
	list-style: none;
	margin-left: 20px;
}

div.welcome ul li a{
	font-family: 'Merriweather', serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.25;
}