*{
	margin: 0;
	padding: 0;
}

div.welcome{
	margin:0 auto;
	margin-top: 150px;
	width: 960px;
}

div.welcome h1{
	font-family: 'Bree Serif', serif;
	font-size: 131px;
}

div.welcome p{
	font-family: 'Merriwether', serif;
	font-size: 28px;
	margin-top: 25px;
}